# Root
node_modules/
.env
.env.*
!.env.example
.DS_Store

# Logs
logs/
*.log
npm-debug.log*

# Client
client/node_modules/
client/.next/
client/dist/
client/.env
client/.env.*
!client/.env.example

# Server
server/node_modules/
server/.env
server/.env.*
!server/.env.example
server/dist/
server/coverage/
server/uploads
